


    <li id="comment-<%= comment._id %>">
        <p>
            <small>
                <%= comment.user.name %>
            </small>
            <span>: </span>
            <%= comment.content %>

            <span>
                <span>
                    <% if(locals.user && locals.user.id == comment.user || locals.user && locals.user.id == post.user._id){ %>
                        <small>
                            <a class="delete-comment-btn" href="/comments/delete-comment/<%= comment.id %>">Delete Comment</a>
                        </small>
                    <% } %>
            </span>
            
            <br>
            <small>
                <% if(locals.user){ %>
                    <a class="toggle-like-btn" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id %>&type=Comment">
                        <%= comment.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= comment.likes.length %> Likes
                <% } %>
            </small>
        </p>
    </li>
