<% for (post of posts){ %>
    <li id="post-<%= post._id %>">
        <% if(locals.user && locals.user.id == post.user.id){ %>
            <small>
                <a class="delete-post-btn" href="/posts/delete-post/<%= post.id %>">Delete Post</a>
            </small>
        <% } %>
        <%= post.content %>
        <span> by: </span>
        <small>
            <%= post.user.name %>
        </small>
        
        <%- include('_pf_comment') -%>

    </li>
<% } %>