
<h1>Codeial - This is your Homepage</h1>

<ul>
    <%- include('_nav_tags') -%>
</ul>
<br>

<%- include('_create_post') -%>

<section id="feed-posts">
    
    <br>
    
    <h1>Feed</h1>
    
    <div id="my-post-list">
        <!-- if user is logged-in then only posts are visible -->
        <% if(locals.user){ %>
            <ul>
                    <%- include('_post_feed') -%>
                    <br>
            </ul>
        <% } %>
    </div>

</section>

<section id="user-friends">
    <h1>Friends</h1>
    <% for(u of all_users){ %>
        <% if(u.id !== locals.user.id){ %>
            <p>
                <a href="/user/friends-profile/<%= u.id %>"><%= u.name%></a>
            </p>
        <% } %>
    <% } %>

</section>

<script src="/js/home_posts.js"></script>